bernoulli_data.xls
binomial_data.xls
diss_data_test.py
exp_data.csv
nina_work.py
normal_data.csv
NystedFarms.csv
pois_data.csv
poisson_example.py
poisson_test_data.csv
prior_test.py
profile_stats
terms.py
test_data.csv
wind_farm_test.py
build
__pycache__
binomial_data.csv
